# Database Configuration
DATABASE_URL="postgresql://root:rentsecret@localhost:5432/rent-finder"

# Development Environment
NODE_ENV="development"

# Optional: Enable sample data during seeding
SEED_SAMPLE_DATA="true"

# tRPC Configuration
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"